{% extends 'base.html' %} 

{% block page_content %} 

<script>
    function redirect(element){
        var datetime = element.getAttribute('data-datetime');
        window.location.href = "{{ url_for('select_appt_time', datetime='__datetime__') }}".replace('__datetime__', datetime);
    }
</script>

<style>
    .calendar{
        border: none;
        height: 60vh;
        display: grid;
        padding-right: 20%;
        padding-left: 20%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 3fr repeat(5, 5fr);
    }
    .calendar .header {
        border: none;
        font-size: large;
        text-decoration-color: grey;
        background-color: lightgray;
    }
    .calendar .grid-item {
        border-radius: 15px;
        border: 1px solid  gray;
        padding: 5%;
        margin: 1%;
        text-align: left;
        background-color: rgb(245, 245, 245);
    }
    .calendar .grid-item:hover{
        background-color: gray;
    }
</style>


<div>
    <h2>Please select a day</h2>
    <h3>{{ months[date_nums[0].month - 1] }}</h3>
    <div class="calendar">
        {% for i in range(7) %} 
        {% if i == 0 %} 
            <div class="header" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">{{ weekdays[(i+6)%6] }}</div>
        {% elif i == 6 %} 
            <div class="header" style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">{{ weekdays[(i+6)%6] }}</div>
        {% else %} 
            <div class="header">{{ weekdays[(i+6)%6] }}</div>
        {% endif %}
        
        {% endfor %}
        {% for i in range(35) %} 
            {% if date_nums[i] < start_time %} 
            <div class="grid-item" style="background-color: darkslategray;"></div>
            {% else %}
            <div class="grid-item" data-datetime="{{ date_nums[i] }}" onclick="redirect(this)" 
            style="{{ 'background-color: lightgreen' if date_nums[i] == start_time }}">
            {{ date_nums[i].day }}</div>
            {% endif %}
        {% endfor %} 
    </div>

</div>

{% endblock %} 