{% extends 'base.html' %}

{% block page_content %}
    <style>
       
        .calendar {
            border: none;
            height: 600px;
            display: grid;
            margin-right: 45%;
            margin-left: 40%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1 1fr repeat(32, 1fr);
        }

        .calendar .grid-item {
            background-color: rgb(245, 245, 245);
            overflow: visible;
            height: auto;
        }

        .calendar .header {
            border: none;
            font-size: large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: lightgray;
        }

        .calendar .date-lead{
            padding-right: 10%;
            font-size: large;
            overflow: visible;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: right;
            height: 18px;
            
        }

        .calendar .grid-item:hover{
            background-color: lightgreen;
        }
    
    </style>
    <div class="content">
        <h2 style="padding: 20px">
            Select your appointment time
        </h2>
        <h3>
            {{ months[daytimes[0].month] }}
        </h3>
        <div class="calendar">            
            {% for i in range(32) %}
                {% if i%4 == 0 %}
                <div class="date-lead">{{ daytimes[i].strftime('%H:%M') }}</div>
                {% else %} 
                <div class="date-lead"></div>
                {% endif %} 
                <div class="grid-item" id="hover" data-datetime="{{ daytimes[i] }}" onclick="redirect(this)"></div>
            {% endfor %}
        </div>
    </div>

    <script>
        function redirect(element){
        var datetime = element.getAttribute('data-datetime');
        window.location.href = "{{ url_for('book', datetime='__datetime__') }}".replace('__datetime__', datetime);
    }
    </script>
{% endblock %}