{% extends 'base.html' %} 

{% block page_content %} 

    <div class="content">
        <h2>
            Contact Us
        </h2>
        <h4>
            By E-Mail:
        </h4>
        <p>
            your_email@example.com
        </p>
        <h4>
            By Phone:
        </h4>
        <p>
            (123) 456-7890
        </p>
        <h4>
            In person:
        </h4>
        <address> 
            1 Cooper St<br>
            Example City<br>
            ON, Canada<br>
        </address>
    </div>
{% endblock %} 